body {
	background: #ccc;
}

#container {
	width: 920px;
	margin: 0 auto;
}

.img-container {
	margin: 0 auto;
	width: 960px;
}

.img-social-twitter{
	/* display: inline-block; */
	/* margin: 50px 120px; */
	width: 50px;
	height:	50px;
	background: url(../img/social-twitter.jpg);
	background-size: cover;
}
.img-social-twitter:hover{	
	cursor: pointer;
	background: url(../img/social-twitter-hover.jpg);
	background-size: cover;
}

.img-social-fb{
	/* display: inline-block; */
	/* margin: 50px 150px; */
	width: 75px;
	height:	75px;
	background: url(../img/social-fb.jpg);
	background-size: cover;
}
.img-social-fb:hover{	
	cursor: pointer;
	background: url(../img/social-fb-hover.jpg);
	background-size: cover;
}

.img-social-mail{
	/* display: inline-block; */
	width: 75px;
	height:	50px;
	background: url(../img/social-mail.jpg);
	background-size: cover;
}

.img-social-mail:hover{	
	cursor: pointer;
	background: url(../img/social-mail-hover.jpg);
	background-size: cover;
}
